p {
    color: greenyellow;
    font-size: xx-large;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
}
body {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2012/04/02/1939/efa4a21f5ea5834cbbb1b30bc94eb17c.jpg");
  }