/* border */
table, th, td {
    border: 1px solid;
  }
 
/* this is for the hola amigos */
p {
    text-align: center;
    color: red;
  }

  h1 {
    text-align: center;
    font-weight: bolder;
  }
/* table size*/
table {
    width: 100%;
  }
th {
    height: 70px;
  }

th {
    text-align: center;
  }

td {
    text-align: left;
  }


tr:hover {background-color: #2A9D8F;}

th {
    background-color: #2A9D8F;
    color: white;
  }
